* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.logo {

  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;

}



.header a:hover {
  background-color: #ddd;
  color: black;
}


.header-right {
  float: right;
  display: inline;
  margin-right: 200px;

}

.text {
  display: inline-block;
  text-align: center;
  padding-top: 120px;
  height: 600px;


}

.imgs {

  display: inline-block;
}

.img {
  float: right;
  padding-right: 100px;

}

.text h1 {
  display: inline-block;
  font-size: 70px;
  padding-right: 85px;

}

.text h1 span {
  color: rgb(60, 60, 230);
}

.text p {
  text-align: left;
  padding-left: 80px;
  font-size: 26px;
}

.button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #1ba7ce 0%, #2837a7 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 60px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-right: 140px;
}

.button1 {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #1ba7ce 0%, #2837a7 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 60px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-right: 00px;
}
.main {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 580px) {

  .header a {
    float: none;
    display: inline;
    text-align: center;
  }

  .header-right {
    float: none;

  }

  .header-right a {
    padding-left: 100px;
  }

  .header .logo {
    height: 80px;
    text-align: left;
  }

  .text h1 {
    font-size: 40px;
    padding-left: 80px;
    transform: translateY(-150px);
  }

  .text p {
    transform: translateY(-150px);
    font-size: 18px;
    margin-right: 50px;
    text-align: start;
  }

  .button {
   margin-right: 0px;
    transform: translateY(-150px);
  }

  .button1 {
margin-right: 0px;
    transform: translateY(-120px);
  }
  .imgs{
    
 margin-left: 120px;
  }
}

@media only screen and (max-width: 1028px) {

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.logo {

  margin-left: 70px;
  font-size: 30px;
  font-weight: normal;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Times New Roman', Times, serif;

}



.header a:hover {
  background-color: #ddd;
  color: black;
}


.header-right {
  float: right;
  display: inline;
  margin-right: 200px;

}

.text {
  display: inline-block;
  text-align: center;
  padding-top: 120px;
  height: 600px;


}

.imgs {

  display: inline-block;
}

.img {
  float: right;
  padding-right: 100px;

}

.text h1 {
  display: inline-block;
  font-size: 70px;
  padding-right: 85px;

}

.text h1 span {
  color: rgb(60, 60, 230);
}

.text p {
  text-align: left;
  padding-left: 80px;
  font-size: 26px;
}

.button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #1ba7ce 0%, #2837a7 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 60px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-right: 140px;
}

.button1 {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #1ba7ce 0%, #2837a7 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 60px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  margin-right: 00px;
}
.main {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 580px) {

  .header a {
    float: none;
    display: inline;
    text-align: center;
  }

  .header-right {
    float: none;

  }

  .header-right a {
    padding-left: 100px;
  }

  .header .logo {
    height: 80px;
    text-align: left;
  }

  .text h1 {
    font-size: 40px;
    padding-left: 80px;
    transform: translateY(-150px);
  }

  .text p {
    transform: translateY(-150px);
    font-size: 18px;
    margin-right: 50px;
    text-align: start;
  }

  .button {
   margin-right: 0px;
    transform: translateY(-150px);
  }

  .button1 {
margin-right: 0px;
    transform: translateY(-120px);
  }
  .imgs{
    
 margin-left: 120px;
  }
}

@media only screen and (max-width: 1028px) {

  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}   

/*Asadbek*/


/* Asadbek */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: sans-serif;
  position: relative;
}
.page-code-wrapper{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-page-first-logo{
  width: 600px;
  text-align: center;
  margin: 40px;
  transform: translateX(350px);

}
.first-logo-down-text{
  margin: 40px;
  text-align: center;
  width: 430px;
  font-weight: 500;
  color: rgb(62, 60, 60);
  transform: translateX(360px);
}
.page-section-cards{
  margin-left: 120px;
  
}
.article-card-1{
  width: 300px;
  height: 310px;
  display: inline-block;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;


}
.article-card-1:hover{
  -webkit-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;

}
.article-card-2:hover{
  -webkit-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  transform: translateY(-10px);

}
.article-card-3:hover{
  -webkit-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 12px 43px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
  transition: 0.5s;

}
.article-card-2{
  width: 300px;
  height: 310px;
  display: inline-block;
  margin: 20px;
  transition: 0.5s;

  border-radius: 20px;

}
.article-card-3{
  width: 300px;
  height: 310px;
  display: inline-block;
  border-radius: 20px;
  margin: 20px;
  transition: 0.5s;
}
.article-card-one-icon{
  margin-top: 20px;
  margin-left: 20px;
}
.article-card-text{
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.article-card-text-2{
  width: 250px;
  color: rgb(86, 83, 83);
  font-weight: 400;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 568px){
  .my-page-first-logo{
      margin-left: -170px;
      width: 200px;
  }
  .first-logo-down-text{
      margin-left: -220px;
      width: 300px;
  }
}
@media only screen and (min-width:680px){
  .my-page-first-logo{
     margin-left: -40px;
  }
}

.page-part-2-text{
  display: inline-block;
}

.page-part-2-logo{
  margin-top: 130px;
  font-family: sans-serif;
}

.page-part-2-logo-down-text{
  width: 400px;
  color: rgb(88, 84, 84);
  font-family: sans-serif;
  margin: 10px;
  font-weight: 400;
  line-height:25px;
  font-size: 16px;
  margin-left: 2px;
  margin-top: 40px;
  
}

.page-aside-img{
  width: 670px;
  height: 600px;
  position: absolute;
  top: 600px;
  left: 550px;
}

.page-part-2-btn{
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(72, 5, 182);
  opacity: 95%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-left: 10px;
  color: wheat;
  transition: 0.5s;
}
.page-part-2-btn:hover{
 transition: 0.5s;
 background-color: black;
 color: white;
}
@media only screen and (max-width: 1028px ){
  .page-aside-img{
      margin-top: 1200px;
      margin-left: -450px;
      width: 470px;
      height: 400px;
  }
  .page-part-2-btn{
      margin-left: 100px;
  }
  .page-part-3{
      transform:translateY(300px);
      width: 100vw;
      margin-left: 150px;
  }
  
}

.page-part-3{

 width: 100vw;
 height: 900px;
 background-color: rgb(244, 240, 240);
 position: relative;
 right: 120px;
 margin-top: 300px;
 
}


.page-part-3-logo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transform: translateY(130px);
}
.part-3-logo-down-texts{
  transform: translateY(150px);
  text-align: center;
  margin: 10px;
  color: rgb(62, 60, 60);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.page-part-3-cards div{
  margin: 30px;
}
  
.page-part-3-card-1{
  width: 300px;
  height: 490px;
  background-color: white;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
}
.page-part-3-card-2{
  width: 300px;
  height: 490px;
  background-color: white;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;

}
.page-part-3-card-3{
  width: 300px;
  height: 490px;
  background-color: white;
  margin: 20px;
  display: inline-block;
  border-radius: 10px;
}

.section-card-1-text-1{
  text-align: left;
  transform: translateX(30px);
  margin: 10px;
}
.section-card-1-text-2{
  text-align: left;
  transform: translateX(30px);
  margin: 10px;
  color: blueviolet;
  font-weight: 600;
}
.section-card-1-text-3{
  text-align: left;
  transform: translateX(30px);
  margin: 10px;
  color: rgb(143, 135, 135);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  width:250px;
}
.section-card-1-text-4{
 transform: translateX(10px);
 color: rgb(131, 124, 124);
 font-family: sans-serif;
}
.section-card-1-text-5{
  transform: translateX(10px);
  color: rgb(131, 124, 124);
  font-family: sans-serif;
}
.section-card-1-text-6{
  transform: translateX(10px);
  color: rgb(131, 124, 124);
  font-family: sans-serif;
}
.section-card-1-text-7{
  transform: translateX(10px);
  color: rgb(131, 124, 124);
  font-family: sans-serif;
}
.section-card-1-text-8{
  transform: translateX(10px);
  color: rgb(131, 124, 124);
  font-family: sans-serif;
}
.section-card-1-icon-1{
  margin-left: -115px;
}
.section-card-1-icon-2{
  margin-left: -90px;
}
.section-card-1-icon-3{
  margin-left: -85px;
}
.section-card-1-icon-4{
  margin-left: -40px;
}
.section-card-1-icon-5{
  margin-left: -100px;
}
.section-card-btn-1{
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(212, 210, 234);
  color: rgb(106, 0, 255);
  transition: 0.3s;
}
.section-card-btn-1:hover{
  transition: 0.3s;
  background-color:rgb(106, 0, 255) ;
  color: white;
}

@media only screen and (max-width: 1100px ){
  .page-part-3{
      height: 2000px;
      width: 200vw;
      margin-left: -20px;
  }

}


.page-part-4{
  margin-top: 300px;
  
}

.part-4-logo{
  margin-left:120px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.part-4-logo-down-text{
  width: 300px;
  color: gray;
  margin-left:120px;

}



.slick-wrapper{
  width: 100%;
  height: 400px;
  background-color: grey;
}

.card{
  width: 90px;
  margin: auto;
  height: 350px;

}
/* javohir */





#n_1{
  width: 100%;
  height: 300px;
  background-color: rgb(124, 195, 195);
}



#n_1 h1{
 padding: 100px 70px 0px 90px;}
#n_1 h4{
  margin: 40px 40px 30px 60px;
}
ul{
  list-style: none;
}
.icon-link i{
  font-size: 34px;
  color: rgb(18, 13, 13);
  padding: 5px;
}
.footer_secsion{
  width: 24%;
  
}
.container{
  max-width: 1720px;
}

ul li {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}
.line{
  width: 100%;
  height: 1px;
  background-color: rgb(22, 17, 17);
}

ul li :hover{
  transform: scaleX(1.1);
  color: rgb(153, 74, 74);
}
.footer{
  padding: 70px 0;
  background-color: rgb(90, 90, 237);
}
.footer_secsion h4{
  font-size: 30px;
  columns: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  font-weight: 600;
  margin-left: 40px;
}
.footer_secsion ul li a{
  font-size: 25px;
  text-transform: capitalize;
  color: rgb(15, 10, 4);
  text-decoration: none;
  font-weight: 300;
  
  display: block;

}
h3{
  position: absolute;
  margin: 0px 1200px ;
  margin-top: -40px;
}
#line{
  
  position: absolute;
  margin-left: 500px;
  margin-top: 25px;
}
h2{
  text-align: center;
}
.low{
display:flex ;
flex-wrap: wrap;
}
/* javohir and */











